EXECUTION_MODE=paper

TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

BINGX_ENABLED=false
BINGX_API_KEY=
BINGX_SECRET_KEY=
BINGX_BASE_URL=https://open-api.bingx.com

TOP_SYMBOLS_COUNT=20
SCAN_INTERVAL_SECONDS=300
MIN_VOLUME_FILTER=5000000

START_BALANCE_USDT=100
MAX_OPEN_POSITIONS=10
FIXED_MARGIN_PCT=0.03
DAILY_LOSS_LIMIT_USDT=0
MAX_CONSECUTIVE_LOSSES=0
MAX_TOTAL_DRAWDOWN_PCT=0

STOP_LOSS_PCT=0.025
TAKE_PROFIT_PCT=0.05

LEVERAGE_MODE=fixed
FIXED_LEVERAGE=20

HEARTBEAT_SECONDS=60
MAX_SILENCE_SECONDS=60
COOLDOWN_SECONDS=300
STOPLOSS_COOLDOWN_SECONDS=3600

ANTI_FOMO_ENABLED=true
ANTI_FOMO_LOOKBACK=5
ANTI_FOMO_MAX_MOVE_PCT=0.025

LOW_PRICE_COIN_THRESHOLD=0.10
LOW_PRICE_REQUIRES_RETEST=true

EXTENSION_FILTER_ENABLED=true
EXTENSION_LOOKBACK=12
MAX_EXTENSION_FROM_LOCAL_LOW_PCT=0.08
MAX_EXTENSION_FROM_LOCAL_HIGH_PCT=0.08
