EXECUTION_MODE=paper

TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=8715407394:AAHWqqgbnyTW6y2VGHDLQ7gzt4W1KOa-R-0
TELEGRAM_CHAT_ID=840388513
TELEGRAM_CHAT_IDS=

BINGX_ENABLED=true
BINGX_API_KEY="30f5NHUM5dz3sb9svEPz99C6OwUTYjDsSzDAG5RwezCHgL0crmFhU3ADvChLpsMSdayTQixl3RyVtO3g"
BINGX_SECRET_KEY="p3m4pb6FX8olLzQz9KHKHgKlht8xycilKg8jjNfP0KO2wnSJd0Su7sLcceF3lQ2YErg2A1V8jLCQ589v2UQ"
BINGX_BASE_URL=https://open-api.bingx.com

TOP_SYMBOLS_COUNT=40
SCAN_INTERVAL_SECONDS=300

START_BALANCE_USDT=100
MAX_OPEN_POSITIONS=10
FIXED_MARGIN_PCT=0.1
DAILY_LOSS_LIMIT_USDT=0
MAX_CONSECUTIVE_LOSSES=0
MAX_TOTAL_DRAWDOWN_PCT=0

STOP_LOSS_PCT=0.025
TAKE_PROFIT_PCT=0.05

LEVERAGE_MODE=fixed
FIXED_LEVERAGE=20

HEARTBEAT_SECONDS=60
MAX_SILENCE_SECONDS=60
COOLDOWN_SECONDS=300
STOPLOSS_COOLDOWN_SECONDS=3600

ANTI_FOMO_ENABLED=true
ANTI_FOMO_LOOKBACK=5
ANTI_FOMO_MAX_MOVE_PCT=0.025

LOW_PRICE_COIN_THRESHOLD=0.10
LOW_PRICE_REQUIRES_RETEST=true

EXTENSION_FILTER_ENABLED=true
EXTENSION_LOOKBACK=12
MAX_EXTENSION_FROM_LOCAL_LOW_PCT=0.08
MAX_EXTENSION_FROM_LOCAL_HIGH_PCT=0.08
